<br>
<div class="Text">
    <h3>コンセプト</h3>
</div>

<div class="About">

    <div class="oil">
        <%= image_tag ("男1"), size: '450x300' %>
    </div>

    <div class="hairs">
        <p>自分に合った整髪料の情報を</p>
        <p>インターネットから見つけるのが難しい...</p>
        <p>そんな悩みを解決するサイトを作りました!!</p>
        <p>見やすい説明ととワックスタイプ診断で</p>
        <p>あなたに合ったワックスを見つけます！</p>
    </div>

</div>

<br>
<div class="Text">
    <h3>ワックスのタイプは大きく４つ！</h3>
</div>

<div class="About">

    <div class="oil">
        <p>整髪料の中でもっとも使われているワックス！</p>
        <p>ワックスには４つのタイプがあり、</p>
        <p>タイプによって使用用途が大きく変わります</p>
        <p>タイプ別の説明はこちら！</p>
    </div>

    <div class="hairs">
        <%= image_tag ("クリームタイプ3"), size: '450x300' %>
    </div>

</div>

<br>
<div class="Text">
    <h3>あなたに合ったワックスを！</h3>
</div>

<div class="About">

    <div class="oil">
        <%= image_tag ("男5"), size: '450x300' %>
    </div>

    <div class="hairs">
        <p>大学生になり、おしゃれに気を使いだした</p>
        <p>多くの男子がぶつかる悩みが</p>
        <p>「自分に合う整髪料がわからない」というものだ。</p>
        <p>その悩みがたった2つの質問で解決する機能が</p>
        <p>「ワックスタイプ診断」だ。</p>
        <br>
        <%= link_to "ワックスタイプ診断へ", perfumes_path %>
    </div>

</div>

<br>
<div class="Text">
    <h3>みんなの感想を知ろう！</h3>
</div>

<div class="About">

    <div class="oil">
        <p>お店でもインターネットでも思った情報が</p>
        <p>得られないワックス...</p>
        <p>他の方々がどんな感想を持っているのか、</p>
        <p>確認して、いいねして、コメントして</p>
        <p>自分の理想に合ったワックスを見つけませんか？</p>
        <br>
        <%= link_to "投稿一覧へ", posts_path %>
    </div>

    <div class="hairs">
        <%= image_tag ("共有1"), size: '450x300' %>
    </div>

</div>