<html>
  <head>
    <title>second</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>Select Wax</h1>
      <div class="header-list">
        <ul>
          <li><%= link_to "トップ", posts_top_path %></li>
          <li><%= link_to "診断", perfumes_path %></li>
          <li><%= link_to "投稿一覧", posts_path %></li>
          <li><%= button_to 'ログイン', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
